body{
    font-family: 'Montserrat';
}
/* .first-div{
    height:75%;
} */
#title{       
    text-align: center; 
}

.row{
    padding-top:5%;
}
/* SECTIONS */
.colored-section
{
    background-color: #ff4c68;
    color:white;
}
.white-section
{
    background-color: #fff;
}

/* HEADINGS */
h1{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
    
}
.container-fluid{
    padding: 3% 15% 10% 15%;   
}
.navbar{
    padding:0 0 4.5rem 0;
}
.navbar-brand{
    font-size: 2.5rem;
    font-weight:bold;
    font-family: 'Ubuntu';
}
.nav-item{
    padding:0px 18px;
}
.nav-link
{
    font-size: 1.2rem;
    font-family:'Montserrat'
}
.title-img{
    width:60%;
    /* transform: rotate(25deg);  */
    position: static;  
    right:30%;
}
@media (min-width: 1028px )
{
    .title-section{
        text-align: left;
    }
    .title-img{
        width:60%;
        transform: rotate(25deg); 
        position: absolute;  
        right:30%;
    }
}
/* Download Buttons */
.download-button{
 margin:5% 3% 5% 0;
}
/* 2ndDiv */

#features{
    text-align: center;
    padding:5% 10%;
   
    position: relative;  
    /* top: -200px; */
    z-index: 1;

}
h3{
    font-size: 2rem;
    font-weight:575;
}
h2{
    font-size:3.5rem;
    line-height: 1.5;
    font:"Montserrat";
    font-weight: bold;
}
.feature-text{
    font-size:1.1rem;
    color:#8f8f8f;
}
.fas{
    color: #ef8172;
    font-size: 5rem;
    padding-bottom: 20px;
}
.fas:hover{
    color:#ff4c68
}

/* Testimonials */
#testimonials{
    text-align: center;    
    background-color: #ef8172;
   
    margin-bottom: 0px;   
}

.testimonial{
    margin: 10% 0 0 0;
}

.testimonial-image{
    width:10%;
    border-radius: 50%;    
}

/* Press */
#press{
    background-color: #ef8172;
    text-align:center;
    padding-bottom:50px;;    
    font-size: smaller;
    margin-top:0px;   
}
.press-logo{
width: 10%;
padding: 0px 15px;
}
.carousel-item{
    padding:7% 15%;
}

/* Pricing */
#pricing{
     padding:100px;
     text-align: center;     
}

.pricing-col {
    padding : 3%;
}


/* Call to Action */
#cta{
    background-color: #ff4c68;
    color:white;
    padding:5% 10%;
    font-family: 'Montserrat';    
    text-align: center;  
   
    
    /* line-height: 1.5; */
    
}
#cta button{

        font-size: 1.5rem;    
    
}
#cta h3{
    font-weight: 900;
    padding:0 10%;
    font-size: 3rem;    
    line-height: 1.5;
}
/* FOOTER */

#footer{
    padding: 10% 20%;
    text-align: center;
    background-color: #fff;
    font-size: 1.25rem;
}
#footer-social{
    padding: 10px 10px;
}